<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Orderbekräftelse - RetroTech</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/retro.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <img  th:src="@{/assets/logo.png}">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="home">Hem</a></li>
                <li class="nav-item"><a class="nav-link" href="products">Produkter</a></li>
                <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" href="discount">Kundvagn</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Orderbekräftelse-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10" style="margin-bottom: 50px;">
                <div class="card h-100">
                    <!-- Orderbekräftelse detaljer-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Orderbekräftelse titel-->
                            <h5 class="fw-bolder mb-4">Tack för ditt köp, <span th:text="${order.name}">Kund</span>!</h5>
                            <!-- Orderbekräftelse text-->
                            <p class="text-muted">
                                Din order har mottagits och behandlas nu. Vi uppskattar ditt förtroende och ser fram emot att leverera dina produkter snart.
                            </p>
                            <p class="text-muted">
                                Faktura skickas till: <span th:text="${order.email}">exempel@mail.com</span>.
                            </p>
                            <p class="text-muted">
                                Leveransadress:
                                <br>
                                <span th:text="${order.address}"></span>,
                                <span th:text="${order.postCode}"></span>,
                                <span th:text="${order.city}"></span>
                            </p>
                            <p class="text-muted">
                                Du har beställt följande produkt(er):
                            <ul>
                                <li th:each="product : ${order.products}" th:text="${product.name} + ' - ' + ${product.price}"></li>
                            </ul>
                            </p>
                            <p class="text-muted">
                                Totalt belopp: <span th:text="${order.totalPrice}">0 kr</span>.
                            </p>
                        </div>
                    </div>
                    <!-- Orderbekräftelse åtgärder-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/}">Tillbaka till startsidan</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; RetroTech</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>
