<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Retroteach - Produkter</title>

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="../static/css/styles.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Retrotech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!-- Lägg till ref till Om oss och hem -->
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Hem</a></li>
                <li class="nav-item"><a class="nav-link" href="content.html">Om oss</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Butik</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Våra produkter</a></li>
                        <li><hr class="dropdown-divider" /></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    <!-- Lägg till ref till kundvagn-->
                    Kundvagn
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>

<form th:action="@{/products/search}" method="get">
    <input type="text" name="name" placeholder="Sök efter produkt...">
    <button type="submit">Sök</button>
</form>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:each="product : ${products}">
                <div class="card h-100">

                    <img class="card-img-top" th:src="${product.imageUrl}" alt="Product Image" />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder" th:text="${product.name}"></h5>
                            <span class="fw-bold text-danger" th:text="'Pris: $' + ${product.price}"></span>
                        </div>
                        <p class="card-text"><strong>Kategori:</strong> <span th:text="${product.category}"></span></p>
                        <p class="card-text"><strong>Beskrivning:</strong> <span th:text="${product.description}"></span></p>
                        <p class="card-text"><strong>Lagerstatus:</strong> <span th:text="${product.stock}"></span></p>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Lägg till i kundvagnen</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; RetroTech</p></div>
</footer>
</html>
